.select-partno{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {
    .screen-container {
      font-size: 1.9em;
      flex-direction: row;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .screen-container {
      display: flex;
      flex-direction: column;
    }
  
    .gap {
      margin-top: 1em;
    }
  }
  
  