:root {
  --bg-color: #ffffff;
  --text-color: #333333;
  --border-color: #dddddd;
  --hover-bg-color: #f5f5f5;
  --poppins: 'Poppins', sans-serif;
  --lato: 'Lato', sans-serif;
  --light: #ffffff;
  --blue: #3C91E6;
  --light-blue: #CFE8FF;
  --grey: #eee;
  --dark-grey: #AAAAAA;
  --dark: #342E37;
  --red: #DB504A;
  --yellow: #FFCE26;
  --light-yellow: #FFF2C6;
  --orange: #FD7238;
  --light-orange: #FFE0D3;
}


@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1c1c1c;
    --text-color: #f0f0f0;
    --border-color: #444444;
    --hover-bg-color: #333333;
  }
}
.handsontable-wrapper {
  height: 100vh;
  width: calc(100% - 20px); 
  max-width: 95vw;
  max-height: calc(90vh - 70px);
  margin: 20px auto;
  overflow: auto;
  border-radius: 15px;
  border: 1px solid #a7a7a7;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  background-color: var(--light);
}

.custom-table {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}


.handsontable .htCore {
  border-radius: 15px;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
}
.handsontable .ht_master .htCore th,
.handsontable .ht_master .htCore td {
color: var(--text-color);
border-color: var(--border-color);
}

.handsontable .ht_master .htCore tr:hover td {
background-color: var(--hover-bg-color);
}
.handsontable .ht_master .htCore th {
  background-color: var(--light);
  }
.handsontable .ht_master .htCore th:hover {
background-color: var(--hover-bg-color);
}
.handsontable .ht_master .wtHider, .handsontable .ht_master .wtHolder {
  border-radius: 15px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root[data-theme='dark'] .custom-table {
  background-color: #222;
  color: #f0f0f0;
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.1);
}

:root[data-theme='dark'] .header-cell {
  background-color: #333;
  color: #f0f0f0;
  border-bottom: 2px solid #444;
}

:root[data-theme='dark'] .data-cell {
  background-color: #333;
  border-bottom: 1px solid #444;
  border-right: 1px solid #444;
}

:root[data-theme='dark'] .handsontable .ht_master .htCore tr:hover .data-cell {
  background-color: #444;
}

:root[data-theme='dark'] .handsontable .ht_master .htCore th:hover {
  background-color: #444;
}

:root[data-theme='dark'] ::-webkit-scrollbar-thumb {
  background: #999;
}

:root[data-theme='dark'] ::-webkit-scrollbar-thumb:hover {
  background: #777;
}
.hanson-title{
font-size: 1.5rem;
color: var(--foreground);
margin-left: 20px;
font-weight: bold;
}
body.dark .hanson-title {
color: #fff; 
}

.card-header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  /* padding: 10px; */
  margin-right: 20px;
  margin-top: -1%;
  margin-bottom: -0.3%;
}

.save-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.save-button:hover {
  background-color: #218838;
  transform: scale(1.05); 
}

.save-button:active {
  background-color: #1e7e34;
  transform: scale(0.98); 
}
.alert-modal {
  display: none; 
  position: fixed; 
  z-index: 999; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.6); 
  justify-content: center;
  align-items: center;
}

.alert-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation: zoomIn 0.5s ease-out;
}

.alert-modal-content h3 {
  margin-top: 0;
}

.alert-modal-content button {
  background-color: #2dc03a;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  width: 100%;
}

.alert-modal-content button:hover {
  background-color: #1a683a;
}

.alert-modal-content button.error {
  background-color: red;
}
.alert-modal-content button.error:hover {
  background-color: rgb(180, 17, 17);
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* .handsontable.#example .changeType {
  background: #e2e2e2;
  border-radius: 100%;
  width: 16px;
  color: #0075ff;
  height: 16px;
  padding: 3px 2px;
  border: none;
}

.handsontable.#example .changeType::before {
  content: '▼ ';
  zoom: 0.9;
} */
